<div class="full-container">
  <section>
    <div class="stack">
      <div class="background-picture">
        <app-header></app-header>
      </div>

      <div class="content">


              <div class="div-8">
                <h2>Volunteers offers</h2>
                <ul>
                  <li *ngFor="let offer of offerList">
                    <app-volunteers-offer [offer]="offer"></app-volunteers-offer>
                  </li>
                </ul>
              </div>
              <a *ngIf="!role" [routerLink]="'/signin'">Login</a>
              <a *ngIf="role == 'helper'"><button routerLink="add-offer">Add volunteers offer</button></a>

      </div>
      <app-footer></app-footer>
    </div>
  </section>
</div>
