<div class="menu-bar">
  <div class="app-name">AppName</div>
  <ul class="row">
    <li><a routerLink=""><p>Home</p></a></li>
    <li class="dropdown"><p>Map</p>
      <div class="sub">
        <a routerLink="/offers">Offers</a>
        <a routerLink="/looking-for">Looking for</a>
        <a routerLink="/volunteer">Volunteers</a>
      </div>
    </li>
    <li><a routerLink="/news"><p>News</p></a></li>
    <li><a routerLink="/suggestions"><p>Suggestions</p></a></li>
    <li *ngIf="token == '{}'"><a routerLink="/signup"><p>Register</p></a></li>
    <li *ngIf="token != '{}'">
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</div>
