.container-footer {
  border: 0 solid rgba(0, 0, 0, 1);
  background-color: rgba(241, 237, 156, 1);
  height: auto;
  border-radius: 0;
  margin-top: 0;
  position: relative;
  margin-left: calc(50% - 50vw);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 63px;
  color: rgba(70, 173, 133, 1);
}

.section {
  width: 100%;
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  margin: 40px 150px;
  position: relative;
  flex-direction: row;
  display: flex;
}


.title {
  height: auto;
  width: auto;
  letter-spacing: 2px;
  color: rgba(80, 80, 80, 1);
  font-size: 12px;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  font-weight: 800;
}

.list {
  height: auto;
  width: auto;
  color: rgba(121, 121, 121, 1);
  font-size: 16px;
  margin-left: 0;
  margin-top: 31px;
  position: relative;
}

.list p {
  padding-top: 15px;
}

.list a, .list a:hover, .list a:active, .list a:visited {
  text-decoration: none;
  color: inherit;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(33.333333333333336% - 13.333333333333334px);
  margin-left: 20px;
}

.stack-updated-4 {
  position: relative;
  display: flex;
  flex-direction: column;
}
