<!-- LOGO -->
<app-logo></app-logo>
<!-- LOGO -->

<div class="container-footer">
  <section class="section">
    <div class="columns-updated">
      <div class="div">
        <div class="column-3">
          <div class="stack-updated-3">
            <div class="menu"><p>MENU</p></div>
            <div class="home-2">Home</div>
            <div class="map-2"><p>Map</p></div>
            <div class="news-2"><p>News</p></div>
            <div class="suggestions-2"><p>Suggestions</p></div>
          </div>
        </div>
        <div class="column-4">
          <div class="stack-updated-4">
            <div class="our-sources"><p>OUR SOURCES</p></div>
            <div class="news-1"><p>News 1</p></div>
            <div class="news-2"><p>News 2</p></div>
            <div class="news-3"><p>News 3</p></div>
          </div>
        </div>
        <div class="column-5">
          <div class="stack-updated-5">
            <div class="university"><p>UNIVERSITY</p></div>
            <a
              href="https://p.lodz.pl/"
              target="_blank"
              class="politechnika-lodzka"
            >
              <p>Politechnika Łódzka</p>
            </a>
            <a
              href="https://www.ife.p.lodz.pl/"
              target="_blank"
              class="international-faculty-of-engineering"
            >
              <p>International Faculty of Engineering</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
