<!-- LOGO -->
<app-logo></app-logo>
<!-- LOGO -->

<div class="container-footer">
  <section class="section">
    <div class="columns">
      <div class="column">
        <div class="title"><p>MENU</p></div>
        <div class="list"><p><a routerLink="">Home</a></p>
          <p><a routerLink="/offers">Offers</a></p>
          <p><a routerLink="/looking-for">Looking For</a></p>
          <p><a routerLink="/volunteer">Volunteers</a></p>
          <p><a routerLink="/news">News</a></p>
          <p><a routerLink="/suggestions">Suggestions</a></p></div>
      </div>
      <div class="column">
        <div class="title"><p>OUR SOURCES</p></div>
        <div class="list"><a href="https://war.ukraine.ua/" target="_blank"><p>war.ukraine.ua</p></a>
          <a href="https://visitukraine.today/"><p>VisitUkraine.today</p></a>
          <a href="https://www.ukrinform.ua/"><p>UkrInform.ua</p></a>
        </div>
      </div>
      <div class="column">
        <div class="title"><p>UNIVERSITY</p></div>
        <div class="list"><a href="https://p.lodz.pl/" target="_blank">
          <p>Politechnika Łódzka</p></a>
          <a href="https://www.ife.p.lodz.pl/" target="_blank">
            <p>International Faculty of Engineering</p></a>
        </div>
      </div>
    </div>
  </section>
</div>
