<div class="full-container">
  <section>
    <div class="stack">

      <div class="background-picture">
        <app-header></app-header>
      </div>
      <div class="row">

        <div class="column">
          <h2><a href="https://www.ukrinform.ua/">UkrInform</a></h2>
          <li *ngFor="let article of articlesUkrinform">
            <div class="card shadow-sm">
              <img src="{{article.img_url}}" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <h3 class="mb-0"><a href="{{article.article_url}}">{{article.title}}</a></h3>
              </div>
            </div>
          </li>

        </div>

        <!--        <div class="ukrinform">-->
        <!--          <h2><a href="https://www.ukrinform.ua/">-->
        <!--          </a></h2>-->
        <!--          <li *ngFor="let article of articlesUkrinform">-->
        <!--            <div class="article">-->
        <!--              <a href={{article.article_url}}>-->
        <!--                {{article.title}}-->
        <!--                <img src="{{article.img_url}}" class="img_article">-->
        <!--              </a>-->
        <!--            </div>-->
        <!--          </li>-->
        <!--        </div>-->

        <div class="warinukrain">
          <h2><a href="https://war.ukraine.ua/ru">
            war.urkaine.ua
          </a></h2>
          <div class="article">
            <li *ngFor="let article of articlesWarUkrain">
              <a href="{{article.article_url}}">
                {{article.title}}</a>
              <p>{{article.text}}</p>
            </li>
          </div>
        </div>

        <div class="visitukrain">
          <h2><a href="https://visitukraine.today/uk/blog">Visit Ukraine Today</a></h2>
          <li *ngFor="let article of articlesVisitUkraine">
            <a href="{{article.article_url}}">
              <h2>{{article.title}}</h2>
              <img src="{{article.img_url}}">
            </a>
          </li>
        </div>
      </div>
      <!--FOOTER-->
      <app-footer></app-footer>
      <!--FOOTER-->

    </div>
  </section>
</div>
