.full-container {
  border-radius: 0;
  position: relative;
  margin-left: calc(50% - 50vw);
}

section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.stack {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Assistant, sans-serif;
  margin-left: calc(50% - 50vw);
}

.background-picture {
  position: relative;
  background-image: url("../../assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  height: auto;
  padding-bottom: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: "Alegreya Sans", sans-serif;
}

h2 {
  height: auto;
  width: auto;
  color: rgba(70, 173, 133, 1);
  font-size: 30px;
  margin: 50px;
  position: relative;
  text-align: center;
  font-family: "Aclonica", sans-serif;
}

h3 a:hover, h3 a {
  text-decoration: none;
}

.persrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}


.column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  margin: 20px;
}

.column ul {
  margin: auto;
}

.column li a {
  text-decoration: none;
  color: #444444;
  font-family: "Alegreya Sans";
}

h2 a {
  height: auto;
  width: auto;
  color: rgba(70, 173, 133, 1);
  font-size: 30px;
  margin: 50px;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: "Aclonica", sans-serif;
  text-decoration: none;
}

.mb-0 a {
  text-decoration: none;
  color: #435e47 !important;
}

.card {
  width: 90% !important;
  align-items: center;
  margin: auto;
}

.card-img-top {
  height: auto;
}

li {
  list-style: none;
  margin: 10px 0;
}
