<div class="full-container">
  <section>
    <div class="stack">
      <div class="background-picture">
        <app-header></app-header>
      </div>

      <div id="content">

        <h2>Offers</h2>

        <google-map width="100%" [zoom]="zoom" [center]="center" [options]="options">
          <map-marker *ngFor="let m of markers" [position]="m.getPosition()!" [label]="m.getLabel()!"
                      [title]="m.getTitle()!" [visible]="m.getVisible()!"></map-marker>
        </google-map>

        <div>
          <div>
            <ul>
              <li *ngFor="let offer of offerList">
                <app-volunteers-offer [offer]="offer"></app-volunteers-offer>
              </li>
            </ul>
          </div>
          <div class="button">
            <button (click)="getAccommodationOffer()">Accommodation Offer</button>
            <button (click)="getLanguageOffer()">Language Course Offer</button>
            <button (click)="getLegalAdviceOffer()">Legal Advice Offer</button>
            <button (click)="getTranslationOffer()">Translation Offer</button>
            <button (click)="getTransportationOffer()">Transportation Offer</button>
          </div>
          <div class="offer">
            <a *ngIf="!role" [routerLink]="'/signin'">Login</a>
            <a *ngIf="role == 'helper'">
              <button routerLink="accommodation">Add accommodation offer</button>
            </a>
            <a *ngIf="role == 'helper'">
              <button routerLink="language-course">Add language course offer</button>
            </a>
            <a *ngIf="role == 'helper'">
              <button routerLink="legal-advice">Add legal advice offer</button>
            </a>
            <a *ngIf="role == 'helper'">
              <button routerLink="translation">Add translation offer</button>
            </a>
            <a *ngIf="role == 'helper'">
              <button routerLink="transportation">Add transportation offer</button>
            </a>
          </div>
        </div>

      </div>

      <app-footer></app-footer>
    </div>
  </section>
</div>
