<section xmlns="http://www.w3.org/1999/html">
  <div id="indicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#indicators" data-slide-to="0" class="active"></li>
      <li data-target="#indicators" data-slide-to="1"></li>
      <li data-target="#indicators" data-slide-to="2"></li>
      <li data-target="#indicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="content">
          <h1>Basic sentences in Polish</h1>
          <p>Good morning. / Good evening. / Hello. / Come on in!<br>
            Dzień dobry. / Dobry wieczór. / Cześć. / Zapraszamy!
            <br><br>
            What is your name? My name is … .<br>
            Jak się nazywasz? Nazywam się … .
            <br><br>
            Yes / No &nbsp;&nbsp; Tak / Nie.
            <br><br>
            Please / Thank you<br>
            Proszę / Dziękuję</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content">
          <h1>Basic sentences in Polish</h1>
          <p>I do not understand. Can you speak slowly, please?<br>
            Nie rozumiem. Czy możesz mówić wolniej, proszę?
            <br><br>
            I do not know.<br>
            Nie wiem.
            <br><br>
            Is everything okay? How do you feel?<br>
            (Czy) wszystko w porządku? Jak się czujesz/czujecie? </p></div>
      </div>
      <div class="carousel-item">
        <div class="content">
          <h1>Basic sentences in Polish</h1>
          <p>Do you take any medicine regularly? Do you have it with you?<br>
            Czy przyjmujesz jakieś leki na stałe? Czy masz je przy sobie?
            <br><br>
            Are you allergic to something? I am allergic to …<br>
            Czy masz alergię na coś? Mam alergię na …
            <br><br>
            I have diabetes. / I have epilepsy.<br>
            Mam cukrzycę. / Mam padaczkę. </p></div>
      </div>
      <div class="carousel-item">
        <div class="content">
          <h1>Basic sentences in Polish</h1>
          <p>Do you want to call someone? I want to call my family / friend.<br>
            Czy chcesz zadzwonić do kogoś? Chcę zadzwonić do rodziny / przyjaciela/przyjaciółki.
            <br><br>
            What is your number?<br>
            Jaki jest Twój numer telefonu?/Jaki masz numer telefonu?
            <br><br>
            Where is your family?<br>
            Gdzie jest Twoja rodzina?</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
