.columns-center-updated {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 14vw;
  margin-right: 10vw;
}

.overflow-scroll {
  max-height: 55vh;
  overflow: scroll;
}
