.columns-center-updated {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
}

.rowpers {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25vw;
  margin-right: 10vw;
}

.overflow-scroll {
  max-height: 100%;
  overflow: scroll;
}
