<div class="useful-links"><h2>Useful Informations</h2></div>
<div class="link-list">

  <h4>First help</h4>
  <p class="text">If you do not have any accommodation in Poland yet, go to the nearest reception point – this is the
    first place where
    you will find help. There, you can find more information about the stay in Poland, you will get a temporary place to
    stay, and you will receive a hot meal, drink, basic medical help and a place to rest. You can find the reception
    points on our website here.
    <br>There is also a hotline available on this number <u>+48 47 721 75 75</u>.
    <a href="https://www.gov.pl/web/mswia/informacja-dla-uchodzcow-z-ukrainy">Information for refugees</a></p>


  <h4>Legalisation of stay</h4>
  <p class="text">You are legally in the country if you entered Poland after February 24, 2022 and if you were
    registered during the
    border control by the Border Guard Commandant. <br>If you meet those conditions, your stay is legal for 18 months,
    without
    any additional procedures to prolong it. <br>If you were not registered during the border control, you must apply
    for a
    PESEL identification number within 60 days from the entry to Poland. <br>If you are a mother and you gave birth in
    Poland
    during the aforementioned period, the stay of that child is also legal. You can also apply for a 3-year-long
    temporary
    residence permit, if you plan on staying in Poland for longer.
    <br>
    <a href="https://www.gov.pl/web/ua/Lehalne-perebuvannya-v-Polshchi">Official source</a></p>


  <h4>Obtaining PESEL identification number</h4>

  <p class=" text">You will need a PESEL identification number to use public services in Poland. To obtain it, you have
    to personally go
    to a local administration office or to other additional points which were created by the local authorities. <br>Once
    you
    have it, you may receive, for example, social benefits. You are also entitled to a one-time grant of PLN 300 per
    person. <br>Setting up a trusted profile is worth considering because it allows you to manage many matters via the
    Internet and to contact different offices. When you have both the PESEL identification number and the trusted
    profile,
    you can add the Дія пл document to the application in order to use it in Poland.
    <br>
    <a
      href="https://www.youtube.com/watch?v=ZMI62bDE-HY">Подивіться відео про те, як подати заявку на номер PESEL та
      довірений профіль</a>
    <br>
    <a href="https://www.gov.pl/web/gov/otrymayte-odnorazovu-hroshovu-dopomohu">PLN 300 financial help</a>
    <br>
    <a href="https://www.gov.pl/web/mobywatel/ua">Diia.pl
    </a></p>


  <h4>Medical help</h4>
  <p class="text">You are entitled to the public health care services, on the same terms as Polish citizens.
    <br>You can
    also call <u>+48 800
      190 590</u>, a free hotline of National Health Fund where you can find information about the medical care. <br>Should
    you
    fall
    sick when medical services are not offered (that is, 18:00-8:00) or during the weekend or holiday, you can call <u>+48
      800 137 200</u> to receive a medical help via the telephone.
    <br>
    <a href="https://pacjent.gov.pl/pacient/dopomoga-v-nichniy-chas-i-u-vikhidni-dni-ukrainskoyu">Pajcent.gov.pl</a></p>


  <h4>Legal employment</h4>
  <p class="text">If you are legally in Poland, you can work here and you do not need a work permit for a foreigner.
    <br>All
    formalities are
    completed by the employer. It is important that within 14 days from the day when you started working, the employer
    notifies the relevant employment center.<br>
    <a
      href="https://oferty.praca.gov.pl/portal/index.cbop#/listaOfert?N4IgTg9gJgXg6gTwM4wLIEsCmArJBjAQxAC4A7AVwBtKAaEAWy1z0xJBDqQBcDSIB3dEgDWENhxAwCAczC90hEgDMClJJk5dIpBQPmtiobgTBcSABjp4I5UmeIBGcwF9OEU3p0HQkWAWxsACIAggAqwQD6AAoAqgBCADIAkgDSwQDCAFJJEsJYYLaYwkEAogDK6SCuIPwIAEZypJgpBFyY0u5YJADaALp0kDCCXm0tbR1gXcR9dIw4+JgAWgRIWNJs5hKqbWCkrQj8e1FgmDCYdgR42AQY83jKqup0tQ28CJmnCMXEIOREzkAAA=">Job
      Offers Government website</a>
  </p>
</div>
