.useful-links {
  height: auto;
  width: auto;
  color: rgba(70, 173, 133, 1);
  font-size: 30px;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  text-align: center;
  font-family: "Aclonica", sans-serif;
}

.link-list {
  display: flex;
  flex-direction: column;
  height: auto;
  color: rgba(6, 71, 97, 1);
  font-size: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
  font-family: "Advent Pro", sans-serif;
}

.text {
  font-style: italic;
  margin-bottom: 30px;
}
