.stack-updated-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}
.useful-links {
  height: auto;
  width: auto;
  color: rgba(70, 173, 133, 1);
  font-size: 30px;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  text-align: center;
  font-family: "Aclonica", sans-serif;
}
.lorem-ipsum-dolor-si {
  height: auto;
  color: rgba(6, 71, 97, 1);
  font-size: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  line-height: 2px;
}
