<div class="full-container">
  <section>
    <div class="stack">
      <div class="background-picture">
        <app-header></app-header>
      </div>

      <div class="content">
        <div class="explanation"><p>We want this website to help as much as possible. Hence, we really need any
          suggestion you may have because it would allow us to improve our solution.
          Should you find something difficult to use or missing, please write us and we'll do our maximum to change
          that.</p></div>
        <Form method="POST" data-name="form-form">
          <div class="label"><p>Email address</p></div>
          <input name="email" placeholder="jane@doe.com"/>
          <div class="label"><p>Your suggestion</p></div>
          <textArea placeholder="Please type any comment in here." name="suggestion"></textArea>
          <button>Submit</button>
        </Form>
      </div>

      <app-footer></app-footer>
    </div>
  </section>
</div>
