<div class="full-container">
  <section>
    <div class="stack">
      <div class="background-picture">
        <app-header></app-header>
      </div>

      <div class="content">
        <div class="explanation"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lobortis quam,
          sed
          elementum metus dignissim quis. In in aliquet elit, at rutrum metus. Curabitur ultricies libero nec volutpat
          pretium. Integer a lacus nec justo rutrum posuere. Ut sodales, orci tristique vehicula vehicula, ipsum eros
          faucibus nisi, sit amet convallis urna augue a nibh. Pellentesque vitae felis nec dui consectetur dapibus.
          Aenean non semper ligula. </p></div>
        <Form method="POST" data-name="form-form">
          <div class="label"><p>Email address</p></div>
          <input name="email" placeholder="jane@doe.com"/>
          <div class="label"><p>Your suggestion</p></div>
          <textArea placeholder="Please type any comment in here." name="suggestion"></textArea>
          <button>Submit</button>
        </Form>
      </div>

      <app-footer></app-footer>
    </div>
  </section>
</div>
