* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Aclonica';
  src: url('assets/fonts/Aclonica-Regular.ttf');
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('assets/fonts/AlegreyaSansSC.ttf');
}

@import "~bootstrap/dist/css/bootstrap.css";
