<div class="full-container">
  <section>
    <div class="stack">
      <div class="background-picture">
        <app-header></app-header>
        <section>
          <div class="container">
            <app-carousel></app-carousel>
          </div>
        </section>
      </div>

      <!-- INFO -->
      <div class="content">
        <app-information></app-information>
      </div>
      <!-- INFO -->

      <!--FOOTER-->
      <app-footer></app-footer>
      <!--FOOTER-->
    </div>
  </section>
</div>
