<div class="container-center" >
  <section class="section">
    <div class="stack-updated">
      <div class="container">
        <section class="section">
          <app-header></app-header>
          <div class="container-2">
            <app-carousel></app-carousel>
          </div>
        </section>
      </div>

      <!-- INFO -->
      <app-information></app-information>
      <!-- INFO -->



      <!--FOOTER-->
      <app-footer></app-footer>
      <!--FOOTER-->
    </div>
  </section>
</div>
