.section-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-left: calc(50% - 50vw);
  border: 0 solid rgba(0, 0, 0, 1);
  background-color: rgba(133, 191, 212, 1);
  margin-top: 81px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.section {
  width: 100%;
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.container-3 {
  border: 0 solid rgba(0, 0, 0, 1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.bitmap {
  height: 50px;
  width: 96px;
  max-width: 100%;
  margin-left: 30px;
  position: relative;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .bitmap {
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .bitmap {
    margin-top: 20px;
  }
}
.image {
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.image-sizer-2 {
  width: 100%;
  padding-top: 20.833333333333336%;
  pointer-events: none;
  font-size: 0;
}
.image-sizer-3 {
  width: 100%;
  padding-top: 20.833333333333336%;
  pointer-events: none;
  font-size: 0;
}
